{% extends "partials/_landing_partial_base.html" %}

<!-- The "Landing" page for this set up -->
{% block landing_content %}
<div class="align-center" id="view-upload-header">
    <h4 style="text-align: left;">Your Uploads</h4>
    <form action="" id="search-form">
        <div id="search-input-wrapper" style="position: relative;">
            <input type="text" id="search-input" placeholder="Search for an upload or name...">
            <i class="bi bi-search" style="position: absolute; left: 12px; top: 24%;"></i>
        </div>
    </form>
</div>
<div id="sw-wrapper" class="align-left">
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>New York City Press Conference on Operation Padlock and Lawsuit Against Vape Distributors</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Eric Adams</p>
        <p class="sw-excerpt">The discussion centers on New York City's efforts to combat illegal cannabis and vape shops, focusing on public safety and youth health. Mayor Eric Adams and other officials highlight the closure of illegal shops, the filing of a federal lawsuit against major vape distributors, and the importance of community and youth involvement in reducing demand for harmful products. The initiative aims to protect children from nicotine addiction and improve neighborhood safety.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Vermont Viewpoint Discussion with Representatives Laura Sibilia and Kate Logan on Election Laws and Environmental Policies</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Kate Logan, Laura Sibilia</p>
        <p class="sw-excerpt">The discussion primarily revolves around Vermont's legislative efforts to reform election laws, focusing on nonpartisan primaries and ranked choice voting. The conversation also touches on various bills related to dynamic pricing, coerced debt, and data privacy. Additionally, there is a discussion about short-term rentals and their impact on housing availability, as well as broader topics such as climate change, energy efficiency, and forest management in Vermont.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Governor Newsom Unveils California's Master Plan for Career Education at Modesto Junior College</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Gavin Newsom</p>
        <p class="sw-excerpt">The transcript discusses the importance and development of career and technical education programs in California, highlighting initiatives to create seamless education-to-career pathways, support for veterans and other non-traditional students, and the unveiling of a new master plan for career education. Governor Gavin Newsom and other speakers emphasize the need for collaboration across educational institutions and industries to prepare students for high-demand careers and address workforce needs. The conversation also touches on broader political topics, including the role of philanthropy, the importance of nuanced discussions on contentious issues, and reflections on political discourse and governance.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Tammy Baldwin Interview</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Tammy Baldwin</p>
        <p class="sw-excerpt">Lorem ipsum dolor sit amet consectetur. Volutpat sagittis pellentesque feugiat pretium mi mattis id fringilla. Magnis ultrices bibendum dictumst sem amet aliquam nulla maecenas erat. Enim scelerisque felis orci aliquam semper. Volutpat duis imperdiet nec non enim pellentesque et. Sit consectetur rutrum sit a aliquet. Venenatis in elit dolor quis at euismod sed.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Vermont Viewpoint Discussion with Representatives Laura Sibilia and Kate Logan on Election Laws and Environmental Policies</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Kate Logan, Laura Sibilia</p>
        <p class="sw-excerpt">The discussion primarily revolves around Vermont's legislative efforts to reform election laws, focusing on nonpartisan primaries and ranked choice voting. The conversation also touches on various bills related to dynamic pricing, coerced debt, and data privacy. Additionally, there is a discussion about short-term rentals and their impact on housing availability, as well as broader topics such as climate change, energy efficiency, and forest management in Vermont.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Governor Newsom Unveils California's Master Plan for Career Education at Modesto Junior College</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Gavin Newsom</p>
        <p class="sw-excerpt">The transcript discusses the importance and development of career and technical education programs in California, highlighting initiatives to create seamless education-to-career pathways, support for veterans and other non-traditional students, and the unveiling of a new master plan for career education. Governor Gavin Newsom and other speakers emphasize the need for collaboration across educational institutions and industries to prepare students for high-demand careers and address workforce needs. The conversation also touches on broader political topics, including the role of philanthropy, the importance of nuanced discussions on contentious issues, and reflections on political discourse and governance.</p>
    </div>
    <div class="sw" class="align-left">
        <div class="sw-header" class="align-left">
            <h4>Tammy Baldwin Interview</h4>
            <p class="sw-date">Mar 06, 2025</p>
        </div>
        <p class="sw-individual">Tammy Baldwin</p>
        <p class="sw-excerpt">Lorem ipsum dolor sit amet consectetur. Volutpat sagittis pellentesque feugiat pretium mi mattis id fringilla. Magnis ultrices bibendum dictumst sem amet aliquam nulla maecenas erat. Enim scelerisque felis orci aliquam semper. Volutpat duis imperdiet nec non enim pellentesque et. Sit consectetur rutrum sit a aliquet. Venenatis in elit dolor quis at euismod sed.</p>
    </div>
</div>


<style>
    .landing-container {
        background-color: transparent;
        box-shadow: none;
        max-height: 100vh;
        box-sizing: border-box;
        width: 60vw;
        padding: 0px;
        padding-top: 48px;
        overflow: visible;
        max-width: 700px;
    }
</style>
{% endblock %}

