#landing-center-modal {
    width: 100%;
    height: 100%;
}

.landing-container {
    background-color: var(--l-blue);
    padding: 24px;
    color: var(--d-blue);
    width: 50%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
    max-height: 90vh;
    overflow-y: scroll;
}

.landing-container h2, .landing-container h3 {
    margin: 0px;
    margin-top: 16px;
}

#paths-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-top: 24px;
}

.path-wrapper {
    background-color: white;
    border: 2px solid var(--border-blue);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    flex: 1;
}

.path-wrapper p {
    margin: 0px;
}

.path-btn {
    padding: 8px 36px;
    background-color: var(--giga-blue);
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    margin-top: 8px;
    transition: background-color .2s ease, transform .2s ease, color .2s ease;
}

.path-btn:hover {
    cursor: pointer;
    background-color: var(--m-blue);
    transform: scale(1.04);
    color: var(--giga-blue);
}

#file-upload-wrapper {
    width: 100%;
    box-sizing: border-box;
}

#dropArea {
    width: 100%;
    box-sizing: border-box;
    border: 2px dotted var(--border-blue);
    border-radius: 10px;
    background-color: #F5F9FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding: 24px;
    margin: 16px 0px;
}

#dropArea p {
    margin: 0px;
}

.form-entry-field {
    flex-direction: column;
    min-width: 100%;
    text-align: left;
    row-gap: 8px;
    margin-top: 16px;
}

.form-entry-field label {
    width: 100%;
}

.form-entry-field input, .form-entry-field textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 8px;
    border: 1px solid var(--border-blue);
    font-family: var(--ff);
    border-radius: 5px;
}

.form-entry-field input::placeholder {
    color: #012843ae;
}

#source-add-btn-wrapper {
    width: 100%;
    display: flex;
    align-items: row;
    justify-content: space-between;
    margin-top: 36px;
}

#publish-date {
    color: var(--d-blue);
}

.upload-source-btn {
    padding: 12px 16px;
}

.cancel-btn, .proceed-btn {
    width: 160px;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.modal-overlay.active {
    display: flex;
}

/* Modal content container */
.modal-content {
    background: #fff;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    padding-top: 40px;
    border-radius: 4px;
    position: relative;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
}
/* Close button for modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}
/* Modal search bar */
.modal-search {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--giga-blue);
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
/* Scrollable list of names */
.name-list {
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    padding: 8px 4px;
    text-align: left;
}
.name-item {
    padding: 8px 8px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-grey);
}
.name-item:hover {
    color: var(--giga-blue);
    background-color: var(--light-blue-background);
}
/* Container for selected names in the modal or outside. */
.selected-names-container {
    border: 1px solid var(--border-blue);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: content-box;
    row-gap: 4px;
    column-gap: 4px;
}

/* Style for selected name blocks */
.selected-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #E9E9E9;
    color: var(--d-blue);
    border-radius: 5px;
    padding: 6px 8px;
    margin: 0px;
    font-size: 14px;
}
.selected-name .remove {
    margin-left: 6px;
    color: var(--d-blue);
    cursor: pointer;
}

/* The 'div' that replaces the input for speaker selection outside the modal */
.speakers-display {
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 8px;
    border: 1px solid var(--border-blue);
    font-family: var(--ff);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
}
.speakers-display:focus {
    outline: 2px solid #777;
}

/* Hover effect (optional) */
.speakers-display:hover {
    background-color: #f9f9f9;
}
